<h2>Add movie to database</h2>

<!-- Spencer: maybe combine new and edit form in _form partial ? -->
<form action="/movies" method="post">
  Title: <input name='title' type="text" /><br>
  Year: <input name='year' type="text" />
  <input name="commit" type="submit" value="Create" />
</form>
